.slider{
	position: relative;
	width: 750px;
	height: 100%;
	user-select: none;
	touch-action: pan-y;
	
	img{pointer-events: none;}
	.list-sliders{
		width: 750px;
		height: 431px;
		overflow: hidden;
	}
	.slider-track{
		display: flex;
		transition: 1s;
		position: relative;
		left: 0;
	}
	.slide{
		width: 750px;
		height: 431px;
		flex-shrink: 0;
	}
}
.slide{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	position: relative;

	.title-slider{
		font-size: 2.25rem;
		margin: 0;
		margin-bottom: 60px;
	}
	.img-slider{
		width: 120px;
		height: 120px;
		border-radius: 50%;
		margin-bottom: 44px;
	}
	.content-slider{
		font-size: 1.13rem;
		margin-bottom: 40px;
	}
	.link-slider{
		color: $h1;
		font-size: 1.3rem;
	}
}
.slider-indicator{
	display: flex;
	justify-content: center;

	.indicator{
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: rgba(250, 176, 71, 0.35);
		margin: 0;
		margin-right: 12px;

		&:last-child{margin-right: 0;}
		&:hover{
			transform: scale(1.5);
			background-color: rgba(250, 176, 71);
		}
		&.active{
			background-color: rgba(250, 176, 71);
			transform: scale(1.5);
		}
		&:active{background-color: rgba(250, 176, 71, 0.35);}
	}
}