.header {
  display: flex;
  justify-content: space-between;
  padding: 2.31rem 0;
}
.header .header-items {
  display: flex;
  align-items: center;
}

.header-logo .Logo {
  fill: #192252;
}

.header-nav {
  display: flex;
}
.header-nav .nav-items {
  margin-right: 2.2vw;
}
.header-nav .nav-items:last-child {
  margin-right: 0;
}
.header-nav .nav-link {
  font-size: 1rem;
  font-family: "Inter-Medium";
}
.header-nav .nav-link:hover {
  border-bottom: 1px solid;
}

.header-btn .btn {
  padding: 14px 16px;
}

.info .content-elem .title {
  font-size: 3rem;
}

.content-inner {
  padding: 80px 0;
}

.content {
  display: flex;
  justify-content: space-between;
}
.content .items-content {
  width: 50%;
}
.content .content-text {
  margin-top: 20%;
}

.content-elem .title {
  font-size: 2.25rem;
  margin-bottom: 24px;
}
.content-elem .text {
  font-size: 1.13rem;
  margin-bottom: 16px;
  padding-right: 10%;
  width: 78%;
}
.content-elem .btn {
  margin-top: 16px;
  padding: 16px 32px;
}

.Benefit .content {
  margin-left: 8%;
}
@media (max-width: 1100px) {
  .Benefit .content {
    margin-left: 0;
  }
}
.Benefit .content:first-child {
  margin-bottom: 32px;
}
.Benefit .content-elem .text {
  padding-right: auto;
  width: 95%;
}

.Reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Reservation .content-elem .text {
  padding-right: auto;
  width: 100%;
}

.Reservation-cart {
  display: flex;
  margin: 80px 0;
}

.Cart {
  text-align: left;
  margin-right: 24px;
}
.Cart:last-child {
  margin-right: auto;
}
.Cart .cart-title {
  margin: 32px 0 16px 0;
  font-size: 1.5rem;
}
.Cart .cart-text {
  margin-bottom: 32px;
}

.cart-link {
  display: flex;
  align-items: center;
}
.cart-link svg {
  margin-top: 1px;
  margin-left: 5px;
}

.Room {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.Room .btn {
  margin-top: 16px;
  padding: 16px 32px;
}

.Room-info {
  margin: 80px 0 0 0;
}
.Room-info a {
  font-size: 1rem;
  margin-bottom: 12px;
}
.Room-info h1 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.Room-info p {
  font-size: 1.13rem;
  margin: 12px 0 16px 0;
}

.btns {
  display: flex;
  margin-top: 16px;
}
.btns .btn {
  margin-right: 12px;
}
.btns .btn:last-child {
  margin-left: 12px;
  padding: 16px 0;
  background: none;
}

.fq {
  width: 50%;
  padding: 40px;
}
.fq .fq-items {
  box-sizing: border-box;
  background-color: #fff;
  padding: 32px 36px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
}
.fq .fq-items:last-child {
  margin-bottom: auto;
}

.fq-up {
  display: flex;
  justify-content: space-between;
}
.fq-up .fq-title {
  font-size: 1.5rem;
  margin: 0;
}
.fq-up .fq-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #FFECE2;
}
.fq-up .btn-svg {
  stroke: #FF620A;
}

.fq-down {
  display: none;
  max-width: 516px;
}
.fq-down .fq-text {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 0;
}

.fq-items--active .btn-svg {
  stroke: #fff;
  transform: rotateZ(180deg);
}
.fq-items--active .fq-btn {
  background-color: #FF620A;
}
.fq-items--active .fq-down {
  display: block;
}

.btn {
  background-color: #0E1734;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.btn:hover {
  background-color: #1C2E69;
}
.btn:active {
  background-color: #0E1734;
}

.Recall {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  width: 750px;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
}
.slider img {
  pointer-events: none;
}
.slider .list-sliders {
  width: 750px;
  height: 431px;
  overflow: hidden;
}
.slider .slider-track {
  display: flex;
  transition: 1s;
  position: relative;
  left: 0;
}
.slider .slide {
  width: 750px;
  height: 431px;
  flex-shrink: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
.slide .title-slider {
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 60px;
}
.slide .img-slider {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 44px;
}
.slide .content-slider {
  font-size: 1.13rem;
  margin-bottom: 40px;
}
.slide .link-slider {
  color: #192252;
  font-size: 1.3rem;
}

.slider-indicator {
  display: flex;
  justify-content: center;
}
.slider-indicator .indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(250, 176, 71, 0.35);
  margin: 0;
  margin-right: 12px;
}
.slider-indicator .indicator:last-child {
  margin-right: 0;
}
.slider-indicator .indicator:hover {
  transform: scale(1.5);
  background-color: rgb(250, 176, 71);
}
.slider-indicator .indicator.active {
  background-color: rgb(250, 176, 71);
  transform: scale(1.5);
}
.slider-indicator .indicator:active {
  background-color: rgba(250, 176, 71, 0.35);
}