@import "colors";
//block in modules
@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";
@import "element/slider";

//* repeat elements
.btn {
	background-color: $btn-bg;
	color: $btn-color;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	&:hover {background-color: $btn-bg-hov;}
	&:active{background-color: $btn-bg;}
}

