// *header-block styles
.header {
	display: flex;
	justify-content: space-between;
	padding: 2.31rem 0;

	.header-items {
		display: flex;
		align-items: center;
	}
}
.header-logo {
	.Logo {fill: $h1;}
}
.header-nav {
	display: flex;

	.nav-items {margin-right: 2.2vw;}
	.nav-items:last-child{margin-right: 0;}
	.nav-link {
		font-size: 1rem;
		font-family: 'Inter-Medium';

		&:hover{border-bottom: 1px solid;}
	}
}
.header-btn {
	.btn{padding: 14px 16px;}
}