//* info-block styles
.info{
	.content-elem{
		.title{
			font-size: 3rem;
		}
	}
}
//* Content
.content-inner {padding: 80px 0;}
.content {
	display: flex;
	justify-content: space-between;

	.items-content{width: 50%;}
	.content-text{margin-top: 20%;}
}
.content-elem {
	.title {
		font-size: 2.25rem;
		margin-bottom: 24px;
	}
	.text {
		font-size: 1.13rem;
		margin-bottom: 16px;
		padding-right: 10%;
		width: 78%;
	}
	.btn {
		margin-top: 16px;
		padding: 16px 32px;
	}
}
//Benefit styles //TODO:remake Benefit
.Benefit{
	.content{
		margin-left: 8%;
	}
	@media (max-width: 1100px){
		.content{
			margin-left: 0;
		}	
	}
	.content:first-child{
		margin-bottom: 32px;
	}
	.content-elem{
		.text{
			padding-right: auto;
			width: 95%;
		}
	}
}
//* Reservation styles
.Reservation{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	.content-elem{
		.text{
			padding-right: auto;
			width: 100%;
		}
	}
}
.Reservation-cart{
	display: flex;
	margin: 80px 0;
}
.Cart{
	text-align: left;
	margin-right: 24px;
	&:last-child{
		margin-right: auto;
	}
	.cart-title{
		margin: 32px 0 16px 0;
		font-size: 1.5rem;
	}
	.cart-text{
		margin-bottom: 32px;
	}
}
.cart-link{
	display: flex;
	align-items: center;
	svg{
		margin-top: 1px;
		margin-left: 5px;
	}
}
// Rooms-block styles
.Room{
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
	.btn{
		margin-top: 16px;
		padding: 16px 32px;	
	}
}
.Room-info{
	margin: 80px 0 0 0;
	a{
		font-size: 1rem;
		margin-bottom: 12px;
	}
	h1{
		font-size: 2rem;
		margin-bottom: 12px;
	}
	p{
		font-size: 1.13rem;
		margin: 12px 0 16px 0;
	}
}
.btns{
	display: flex;
	margin-top: 16px;
	.btn{
		margin-right: 12px;
		&:last-child{
			margin-left: 12px;
			padding: 16px 0;
			background: none;
		}
	}
}
@import "../element/_Fq-styles.scss";
